<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Новости - <%= category %></title>
</head>
<body>
  <h3><%= number %> последних новостей в категории <%= category %></h3>
  <dl>
    <% newsItems.forEach(function(item, index) { %>
      <dt><%= index + 1 %>. <%= item.title %></dt>
      <dd><%= item.description %></dd>
    <% }); %>
  </dl>
</body>
</html>
